input {
    padding: .6rem
}

button {
    padding: 9px 28px;
    outline: none;
    background-color: bisque;
    border: none;
    border-radius: 4px;
    transition: all .45s;
}

button:hover {
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3) ;
}